@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/*page base: font, color,layout*/
body {
    font-family: 'Poppins', sans-serif; /*main font style*/
    color: #f5f5f5; /* default text color: light gray*/
    height: 100vh;
    overflow-x: hidden;
    /* background image*/
    background-image: url("../images/bgp.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

/* Dark overlay on background*/
body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: -1;
}

/* Header */
header {
    text-align: center;
    margin-top: 60px;
}

header h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #facc15;
    letter-spacing: 2px;
}

/* navigation bar */
nav {
    margin-top: 15px;
}

nav a {
    color: #fff;
    font-weight: 500;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #facc15;
}

/* Main content */
.content {
    max-width: 800px;
    margin: 100px auto 0 auto;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

.content h2 {
    font-size: 1.5rem;
    color: #facc15;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.content p {
    font-size: 1rem;
    line-height: 1.8;
    color: #ddd;
    margin-bottom: 30px;
}

/* Footer */
footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    color: #ccc;
}

/* Animation (fadeIn) for content */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}