/* main stlye for website */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/* it removes the browser's default outer margin, 
when i don't write this, there are small gaps around the top bar*/
body {
  margin: 0;
}

/*page base: font, color,layout*/
html, body {
  font-family: 'Poppins', sans-serif; /*main font style*/
  color: #f5f5f5; /* default text color: light gray*/
  background: radial-gradient(ellipse at bottom, #1a1c2c 0%, #0d0f1a 100%); /*gradient backgroudn*/
  position: relative; /* for absolute children if needed*/
  overflow-x: hidden; /* prevent horizontal scrol*/
  display: flex; /*enable flex layout for the vertical alignment*/
  flex-direction: column;/* stack child elements(html elements inside the body) vertically*/
  min-height: 100vh; /* footer stays at bottom*/
}


/* small star texture with a slow move effect*/
 body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
  opacity: .80;
  animation: stars 100s linear infinite; /* moves bg slowly for star effect*/
  z-index: 0;
  pointer-events: none; /* make sure it doesn't block clicks*/
}

body > * {
  position: relative;
  z-index: 1;
}

/*keyframes for moving star bg*/
@keyframes stars {
  to {
    background-position-y: -1000px;
  }
}